<nav class="bottom-nav">
  <a routerLink="/home" routerLinkActive="bottom-nav__item--active" class="bottom-nav__item">
    <span class="material-symbols-outlined bottom-nav__icon">home</span>
    <span class="bottom-nav__label">Home</span>
  </a>
  <a routerLink="/biblia" routerLinkActive="bottom-nav__item--active" class="bottom-nav__item">
    <span class="material-symbols-outlined bottom-nav__icon">menu_book</span>
    <span class="bottom-nav__label">Bíblia</span>
  </a>
  <a routerLink="/mensagens" routerLinkActive="bottom-nav__item--active" class="bottom-nav__item">
    <span class="material-symbols-outlined bottom-nav__icon">auto_stories</span>
    <span class="bottom-nav__label">Mensagens</span>
  </a>
</nav>
